:root {
  --background--color: #d6e1ff;
  --black--color: #000;
  --white--color: #fff;
  --heading--color: #313e60;
  --btn--color: #382ae1;
  --gray--color: #778198;
  --plan--color: #f8f9fe;
  --icon--backgorund: #dee6f9;
  --border--radius: 2rem;
}
* {
  box-sizing: border-box;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes growth{
  from{
   height: 13rem;
  }
  to{
    height: 40rem;
  }
}
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background--color);
}
.layout {
  background-color: transparent;
  max-width: 28rem;
  perspective: 700px;
  &__inner{
    background-color: var(--white--color);
    border-radius: var(--border--radius);
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    height: 13rem;
    animation: 1s ease-out  growth forwards;
  }
  &__front{
  display: flex;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }
  &__back{
    position: relative;
    transform: rotateY(180deg);
    &__heading{
      opacity: 0;
      position: absolute;
      top: -580px;
      left: 65px;
      animation: 1s ease-out 1s fadein forwards;
    }
    &__img{
      opacity: 0;
      position: absolute;
      top: -480px;
      left: 0px;
      animation: 1s ease-out 2s fadein forwards;
    }
  }
  &__heading {
    opacity: 0;
    text-align: center;
    animation: 1s ease-out 1s fadein forwards;
  }
  &__paragraf {
    opacity: 0;
    text-align: center;
    margin: 0 1rem 2rem 1rem;
    animation: 1s ease-out 2s fadein forwards;
  }
}
.layout:hover .layout__inner {
  transform: rotateY(180deg);
}
.layout__front, .layout__back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.icon {
  width: 2rem;
}
.background-icon {
  background-color: var(--icon--backgorund);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 10000rem;
}
.image {
  border-top-left-radius: var(--border--radius);
  border-top-right-radius: var(--border--radius);
}
.plan {
  opacity: 0;
  display: flex;
  align-items: center;
  width: 25rem;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: var(--plan--color);
  border-radius: var(--border--radius);
  animation: 1s ease-out 3s fadein forwards;
  &__left {
    display: flex;
    align-items: center;
    &__name {
      margin-left: 2rem;
    }
  }
}
.btn {
  opacity: 0;
  background-color: var(--btn--color);
  width: 25rem;
  height: 3rem;
  color: var(--white--color);
  border: none;
  border-radius: var(--border--radius);
  margin-top: 2rem;
  animation: 1s ease-out 4s fadein forwards;
}
.cancel {
  opacity: 0;
  margin: 2rem 0;
  animation: 1s ease-out 4s fadein forwards;
  cursor: pointer;
}
